aiogram==2.25.2
aiohttp==3.8.6
aiosignal==1.3.1
amqp==5.2.0
async-timeout==4.0.3
attrs==23.1.0
Babel==2.9.1
billiard==3.6.4.0
celery==5.0.5
certifi==2023.7.22
charset-normalizer==3.3.2
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
frozenlist==1.4.0
greenlet==3.0.1
idna==3.4
kombu==5.3.4
magic-filter==1.0.12
multidict==6.0.4
prompt-toolkit==3.0.41
psycopg2-binary==2.9.9
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.31.0
typing_extensions==4.8.0
urllib3==2.1.0
vine==5.1.0
wcwidth==0.2.11
yarl==1.9.2
